#upload-file {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    justify-content: start;
}
.flex{
    display: flex !important;
}


.flex-row{
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: start;
}
.flex-full {
    flex: 1 1 100%
}

.shadow {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.mt-3 {
    margin-top: 10px !important;
}

.upload-btn {
    border: transparent;
    padding: 9px;
    border-radius: 6px !important;
    background: #0142f9;
    color: white;
}

label {
    font-weight: 500;
    font-size: 20px;
}
#id_file {opacity: 0;
    position: absolute;
    z-index: -1;}