{% extends 'base.html' %}

{% block title %}Predict Students Performance{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>Student Performance Prediction System</h2>
    </div>

    <div class="container">
        <form action="" method="POST">
        {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="inputState">School</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <label for="inputState">Sex</label>
                    <select id="inputState" class="form-control">
                        <option selected>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="">Age</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-6">
                    <label for="">Address</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Family Size</label>
                    <select id="inputState" class="form-control">
                        <option selected>Less than 3</option>
                        <option>Greater or equal to 3</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Parent's Cohabitation Status</label>
                    <select id="inputState" class="form-control">
                        <option selected>Together</option>
                        <option>Apart</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Mother's Education</label>
                    <select id="inputState" class="form-control">
                        <option selected>None</option>
                        <option>Primary Education</option>
                        <option>5th to 9th</option>
                        <option>Secondary Education</option>
                        <option>Higher Education</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Father's Education</label>
                    <select id="inputState" class="form-control">
                        <option selected>None</option>
                        <option>Primary Education</option>
                        <option>5th to 9th</option>
                        <option>Secondary Education</option>
                        <option>Higher Education</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Mother's Job</label>
                    <select id="inputState" class="form-control">
                        <option selected>Teaching</option>
                        <option>Health</option>
                        <option>Civil Services</option>
                        <option>At home</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Father's Job</label>
                    <select id="inputState" class="form-control">
                        <option selected>Teaching</option>
                        <option>Health</option>
                        <option>Civil Services</option>
                        <option>At home</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Reason to choose this school</label>
                    <select id="inputState" class="form-control">
                        <option selected>Close to home</option>
                        <option>School reputation</option>
                        <option>Course preference</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Guardian</label>
                    <select id="inputState" class="form-control">
                        <option selected>Mother</option>
                        <option>Father</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Travel Time(home to school)</label>
                    <select id="inputState" class="form-control">
                        <option selected>-< 15mins</option>
                        <option>15 to 30mins</option>
                        <option>30mins to 1 hour</option>
                        <option>> 1 hour</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Study time(weekly)</label>
                    <select id="inputState" class="form-control">
                        <option selected>-< 2 hours</option>
                        <option>2 to 5 hours</option>
                        <option>5 to 10 hour</option>
                        <option>> 10</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Failures</label>
                    <select id="inputState" class="form-control">
                        <option selected>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">School support</label>
                    <select id="inputState" class="form-control">
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Family support</label>
                    <select id="inputState" class="form-control">
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Paid(extra paid classes)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Extra curriculum</label>
                    <select id="inputState" class="form-control">
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Nursery(attended nursery)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Higher(wants to take higher education)</label>
                    <select id="inputState" class="form-control">
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Internet(access to internet at home)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Romantic(in a romantic relationship)</label>
                    <select id="inputState" class="form-control">
                        <option>Yes</option>
                        <option selected>No</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Family relationship(quality of family relationship)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very bad</option>
                        <option>Bad</option>
                        <option>Good</option>
                        <option>Very Good</option>
                        <option>Excellent</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Free time(free time after school)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very low</option>
                        <option>Low</option>
                        <option>Average</option>
                        <option>High</option>
                        <option>Very high</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Family relationship(quality of family relationship)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very bad</option>
                        <option>Bad</option>
                        <option>Good</option>
                        <option>Very Good</option>
                        <option>Excellent</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Go Out(Going out with friends)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very low</option>
                        <option>Low</option>
                        <option>Average</option>
                        <option>High</option>
                        <option>Very high</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Day Alcohol(workday Alcohol consumption)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very low</option>
                        <option>Low</option>
                        <option>Average</option>
                        <option>High</option>
                        <option>Very high</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Week Alcohol(Weekend Alcohol consumption)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very low</option>
                        <option>Low</option>
                        <option>Average</option>
                        <option>High</option>
                        <option>Very high</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="inputState">Health(current Health satus)</label>
                    <select id="inputState" class="form-control">
                        <option selected>Very low</option>
                        <option>Low</option>
                        <option>Average</option>
                        <option>High</option>
                        <option>Very high</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">Absences(number of school absences)</label>
                    <input type="number" max="93" class="form-control">
                </div>
                <div class="col-6">
                    <label for="inputState">G1(first period grade)</label>
                    <input type="number" max="20" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="inputState">G2(second period grade)</label>
                    <input type="number" max="20" class="form-control">
                </div>
                <div class="col-6">
                    <label for="inputState">G3(final period grade)</label>
                    <input type="number" max="20" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-2 btn-block mb-4">Predict</button>
        </form>

        <div class="text-center">
            <h1>Prediction Summary</h1>
            <h3>80%</h3>
        </div>
    </div>

{% endblock content %}