{% extends 'base.html' %}

{% block title %}Predict Students Performance{% endblock title %}

{% block content %}
<div class="flex flex-row flex-full justify-center jumbotron shadow mt-3" style="padding: 31px !important;">
        <h2>Student Performance Prediction System</h2>
    </div>
    <div class="flex flex-row flex-full justify-center">
      {% load static %}
        <img src="{% static 'predict/images/excel.png' %}" style="width: 100px;" />
      </div>
   <div class="flex flex-row flex-full justify-center mt-3">
     <form id="form" method='post' enctype='multipart/form-data'>
        <div id="upload-file" class="flex flex-row flex-full justify-center"> 
           {% csrf_token %}
            {{ uploadForm.as_p }}
        </div>
       <div class="flex flex-row flex-full justify-center">
        <button type="submit" class="upload-btn shadow">Process File</button>
       </div>
   </form>
   </div>
   {% if preview_count is not None %}
   <div class='container'>
     <div style="width: 100%;">
   <h3>{{ preview_count }} Out Of {{ total_record_count}} Records </h3>
        {{ student_tableu | safe }}
   </div>

   <div style="width: 100%;">
    <h3>Records description</h3>
    {{ student_tableu_desc | safe }}
   </div>
   <div style="width: 100%;">
    <h3>Verified Mappings</h3>
    {{ records_mapping | safe }}
   </div>
   <div style="width: 100%;">
     <h3>Model Accuracy For Training 1</h3>
     <div>{{accuracy_model1}}</div>
   </div>
   <div style="width: 100%">
      <div>{{ g3_validation_accuracy | safe }}</div>
   </div>
   <div style="width: 100%">
      <div>{{ g3_validation_loss | safe }}</div>
   </div>
   <div style="width: 100%;">
     <h3>Model Accuracy For Training 2</h3>
     <div>{{model_accuracy2}}</div>
   </div>
   <div style="width: 100%">
     <div>{{ g2_validation_accuracy | safe }}</div>
   </div>
    <div style="width: 100%">
     <div>{{ g2_validation_loss | safe }}</div>
   </div>
   
    <div style="width: 100%;">
     <h3>Model Accuracy For Training 3</h3>
     <div>{{model_accuracy3}}</div>
   </div>
    <div style="width: 100%">
     <div>{{ g1_validation_accuracy | safe }}</div>
    </div>
    <div style="width: 100%">
     <div>{{ g1_validation_loss | safe }}</div>
    </div>
   </div>
   {% endif %}
{% endblock content%}